-if (!address.demolitions.empty? && address.demolitions.first.case_number.nil? ) || (!address.foreclosures.empty? && address.foreclosures.first.case_number.nil? )
  .additional-address-information
    %hr.soften
    %h2
      Additional Information
    %ul
      -address.demolitions.group_by(&:program_name).each do |a,d|
        %li
          This property was 
          =a
          -if d.first.program_name == "FEMA"
            demolished under by <b>FEMA</b>
          -elsif d.first.program_name == "NORA"
            sold to the state and demolished through the <b>Road Home</b> program
          -elsif d.first.program_name == "IDC"
            demolished because it was determined to be in <b>Imminent Danger of Collapse</b> 
          -elsif d.first.program_name == "SDER"
            demolished under the <b>City's Strategic Demolition</b> program
          -elsif d.first.program_name== "NOSD"
            demolished under the <b>City's Strategic Demolition</b> program
          -else
            demolished

          -if d.first.date_completed
            on <b>#{d.first.date_completed.strftime("%-m/%-d/%y")}</b>

      -address.foreclosures.each do |d|
        %li
          -if d.sale_date
            This property #{d.sale_date > DateTime.now ? 'is':'was'} scheduled for <b>sheriff sale</b> on <b>#{d.sale_date.strftime("%-m/%-d/%y")}</b>
            -if d.sale_date < DateTime.now && d.updated_at > d.sale_date && d.status
              with an outcome of <b>#{d.status}</b>

      -address.maintenances.each do |d|
        %li
          This lot was cleared by #{r.program_name} on
          =d.r.date.strftime("%-m/%-d/%y")
